@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

custom-navbar {
    display: block;
    width: 100%;
}

h1{
    text-align: center;
    color: #fff;
    font-size: 2.5rem;
    margin: 0 0 10px 0;
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #111;
    color: #eee;
    margin: 0;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    }

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', monospace;
}

ul {
    list-style: none;
    background-color: #0165fc;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 20px 25px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    width: 100%;
    background: #0165fc;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li a:hover {
    background: #002152;
}

ul li:hover ul.dropdown {
    display: block;
}


main {
    text-align: center;
    color: #ffffff;
}

